@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<address>
    Kade 64<br />
    3371 EP Hardinxveld-Giessendam<br />
    Telefoon:  088 - 6666 333<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:service@ucsystems.nl">service@ucsystems.nl</a><br />
</address>