@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Welkom bij de UC Systems Alert Tool.</h2>
        <p>
            Welkom bij de UC Systems Alert Tool, hier kunt u uw binnenkomende meldingen filteren, meldingen aanpassen, meldingen inzien en meldingen sluiten. Klik in het bovenstaande menu op "inloggen" om verder te gaan.
        </p>
        @*<p><a class="btn btn-default" href="\Account\Login.cshtml">Login &raquo;</a></p>*@
</div>
</div>